body {
    background: #F3F0F4;
}

* {
    margin: 0px;
}

#book {
    background: url('../img/page.png');
    float: left;
    background-size: 100% 100%;
    max-height: 100%;
    max-width: 100%;
    min-height: 100%;
    min-width: 100%;

}

#content {
    border: 1px solid;
}

#pageleft {
    width: 50%;
    float: left;
    border: 1px solid;

}

#page_text {
    width: 219px;
    float: left;
/ / border : 1 px solid #000;
    /*margin-left: 30px;*/
    margin-top: 10px;
    margin-bottom: 10px;
    height: 285px;
    /*padding: 10px;*/
    overflow: hidden;

    -webkit-column-count: 2; /* Chrome, Safari, Opera */
    -moz-column-count: 2; /* Firefox */
    column-count: 2;
    font-size: 11px;
}

#page_text h1 {
    font-size: 23px;
    width: 100%;
    float: left;
}

#page_text h2 {
    font-size: 20px;
}

#page_text h3 {
    font-size: 17px;
}

#page_text h4 {
    font-size: 14px;
}

.posts {

    overflow: hidden;
    width: 100%;
    vertical-align: inherit;
}

.posts H1 {
    float: left;
    text-align: center;
}

.postimages {
    float: left;
    margin: 4px;
}

.posts a.more {
    float: right;
    text-align: right;
}

hr {
    float: left;
    width: 100%;
}

/* this is form css */
.form {
    max-width: 40%;
    min-width: 30%;
    font-size: 14px;
    margin: 0px;
    padding: 20px;
}

.content {
    margin: 0px;
}

.form label {
    color: #222222;
    font-size: 14px;
    display: block;
}

.form input[type=radio], input[type=checkbox] {
    margin: 10px;
    width: 13px;
}

.form div {
    display: block;
}

.form input, form textarea, form select {
    border-width: 1px;
    border-style: solid;
    border-color: #666666;
    border-radius: 0px;
    padding: 3px;
    width: 100%;
}

.form, .form h1, .form h2 {
    font-family: 'Roboto', sans-serif;;
}

.form h1 {
    font-size: 40px;
    padding: 0px;
    margin: 0px;
    margin-bottom: 10px;
    border-bottom-style: dotted;
    border-bottom-width: 2px;
    border-radius: 0px;
}

.intro {
    margin-bottom: 10px;
}

.clear {
    clear: both;
}

.form textarea {
    height: 50px;
    width: 100%;
}

.form input[type=submit] {
    width: 100%;
    background-color: #CCCCCC;
    color: #222222;
}

.field {
    margin-bottom: 5px;
}

/*this is form css end */