#lightbox_bg {
    background: url('../img/lightbox/bg.png');
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 1000;
    display: none;

}

#userinterface {
    width: 200px;
    height: 200px;
    background: #FFF7DF;
    float: left;
    color: #0E2839;

}

#menu {
    width: 20%;
    height: 100%;
    background: #494F55;
    float: left;
}

#text {
    width: 80%;
    height: 100%;
    float: left;
}

#menu #title {
    width: 96%;
    margin-top: 3%;
    margin-left: 2%;
    float: left;
    background: #6290BE;
}

#menu-list {
    width: 96%;
    margin-left: 2%;
    float: left;
    background: #FEED7B;
}

#menu-list a {
    background: #FFFB89;
    width: 100%;
    float: left;
    margin-top: 3%;
    padding-top: 10px;
    text-align: center;
    padding-bottom: 10px;

}

#text #title {
    width: 96%;
    margin-top: 2%;
    margin-left: 2%;
    float: left;
    background: #6290BE;
    text-align: center;

}

#text #post {

    width: 96%;
    margin-top: 2%;
    padding: 10px 0 10px 0;
    margin-left: 2%;
    float: left;
    background: #ECECEC;
}

#text {
    overflow-y: scroll;
}