/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 21-Oct-2014, 22:25:51
    Author     : mateusz
*/

#myaccount {
    width: 100%;
    height: 100%;
    background: #7a6060;
    opacity: 0.8;
    position: absolute;
}


