/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 06-Oct-2014, 22:51:30
    Author     : mateusz
*/

body {
    background: #d41717;
}

* {
    margin: 0px;
}

#bodyimage {
    background: url('../img/templates.png');
    float: left;
    background-size: 100%, 100%;
    background-attachment: fixed;

}

#centersite {
    float: left;
}

#logo {
    background: url('../img/logo.png');
    width: 400px;
    height: 400px;
    float: left;
    background-size: 100%, 100%;

}

#textpos {
    background: url('../img/bg.png');
    width: 400px;
    height: auto;
    float: left;

}

#textpos h1 {
    color: #9d8b8b;
}

#textpos h2 {
    color: #2c51bf;
}

#textpos h3 {
    color: #bf812c;
}

#floatleft {
    float: left;
}

#stopro {
    width: 100%;
    float: left;
}