menus {
    width: 100px;
    height: 341px;
/ / border : 1 px solid #000;
    /*width: 548.562px; height: 342px; margin-left: 408.719px; margin-top: 9px;*/
}

menus#left {
    float: left;
    margin-left: -72px;

}

menus#right {
    float: right;
    margin-right: -72px;

}

a.ajaxLink {

    border: 0;
    outline: none;

}

a#firstleft.ajaxLink {
    background: url('../img/wstazki/firstleft.png');
    width: 91px;
    height: 83.93px;
    float: left;
    background-size: 100% 100%;
    margin-top: 10px;
    margin-left: 4px;
}

a#secoundleft.ajaxLink {
    background: url('../img/wstazki/secoundleft.png');
    width: 91px;
    height: 124.6px;
    float: left;
    background-size: 100% 100%;
    margin-top: -6px;
    margin-left: 1px;
}

a#firstleft.ajaxLink p {
    font-size: 11px;
    padding-top: 44px;
    padding-left: 8px;
    -webkit-transform: rotate(-13deg);
    -moz-transform: rotate(-13deg);
    -ms-transform: rotate(-13deg);
    -o-transform: rotate(-13deg);
    transform: rotate(-13deg);
}

a#secoundleft.ajaxLink p {
    font-size: 13px;
    padding-top: 54px;
    padding-left: 8px;
    -webkit-transform: rotate(-13deg);
    -moz-transform: rotate(-13deg);
    -ms-transform: rotate(-13deg);
    -o-transform: rotate(-13deg);
    transform: rotate(-13deg);
}